@import "../sassStyles/colorPalette";
@import "../sassStyles/gradientAnimation";
@import "../sassStyles/arrows";

.container-portfolio {
    height: 100%;
    width: 100%;
    background: $primaryBlue;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
}

.portfolio-heading {
    width: 100%;
    height: 100%;
    position: relative;
    border-left: 60px solid transparent;
    padding: 2em;
    right: 0;
    margin: 2em 0 0;
    
    .left-heading {
        font-size: 2rem;
        color: $raspberryColor;
        text-transform: uppercase;
        letter-spacing: 15px;
        position: absolute;
        left: -40px;
        top: 290px;
        margin: 0;
        transform: rotate(270deg);
        transform-origin: 0 0;
        font-weight: bolder;
    }
}

.portfolio-content {
    max-width: 70%;
    margin: 0 auto;
    display: grid;
    grid-gap: 2rem;
    position: relative;
    margin-bottom: 8em;
}

.portfolio-description {
    color: $whiteColor;
    margin: 0 auto 3em;
    width: 70%;
    position: relative;
    font-size: 1.5em;
    line-height: 1.5em;
}

.portfolio-item {
    background-color: $whiteColor;
    color: $primaryBlue;
    height: 100%;
    width: 100%;
    border: 10px solid $raspberryColor;
    
    img {
        width: 100%;
        height: auto;
        background: linear-gradient(270deg, $orangerColor, $raspberryColor);
        background-size: 200% 400%;
        -webkit-animation: gradientAnimationX 15s ease infinite;
        -moz-animation: gradientAnimationX 15s ease infinite;
        animation: gradientAnimationX 15s ease infinite;
        display: block;
    }
    .item-desctiption {
        color: $whiteColor;
        width: auto;
        height: auto;
        letter-spacing: 2em;
        background: $raspberryColor; /* Black see-through */
        color: $whiteColor;
        font-size: 1em;
        padding: 1em;
        text-align: center;
        top: -100px;
        line-height: 1.6;
    }
}

.arrow-down {
    border-color: $primaryBlue transparent transparent transparent;  
}

//magic section

@media (min-width: 1200px) {
    .portfolio-content {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 1200px) {
    .portfolio-content { 
        grid-template-columns: repeat(1, 1fr); 
    }
}

@media (max-width: 600px) {
    .portfolio-content { 
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 1rem; 
        width: 100%;
    }

    .portfolio-description {
        color: $whiteColor;
        width: 70%;
    }

    .portfolio-item {
        width: 100%;
    }
}