$primaryBlue: #141827;
$secondaryBlue: #0b0d16;
$whiteColor: #e4e4e4;
$raspberryColor: #79132e;
$orangeColor: #8a2d1f;
$shadow: #161616;
$orangerColor: #7e1e0f;

//$primaryBlue: #1c2237;
//$orangeColor: #d8482e;
//$raspberryColor: #bd0032;