.gradient {
    background: linear-gradient(270deg, $orangerColor, $raspberryColor);
    background-size: 200% 400%;
    -webkit-animation: gradientAnimationX 7s ease infinite;
    -moz-animation: gradientAnimationX 7s ease infinite;
    animation: gradientAnimationX 7s ease infinite;
}

.gradient-slow {
    background: linear-gradient(270deg, $orangerColor, $raspberryColor);
    background-size: 200% 400%;
    -webkit-animation: gradientAnimationX 7s ease infinite;
    -moz-animation: gradientAnimationX 7s ease infinite;
    animation: gradientAnimationX 7s ease infinite;
}

@-webkit-keyframes gradientAnimationX {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@-moz-keyframes gradientAnimationX {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@keyframes gradientAnimationX {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}

@-webkit-keyframes gradientAnimationY {
    0%{background-position:51% 0%}
    50%{background-position:50% 100%}
    100%{background-position:51% 0%}
}
@-moz-keyframes gradientAnimationY {
    0%{background-position:51% 0%}
    50%{background-position:50% 100%}
    100%{background-position:51% 0%}
}
@keyframes gradientAnimationY {
    0%{background-position:51% 0%}
    50%{background-position:50% 100%}
    100%{background-position:51% 0%}
}