@import '../sassStyles/colorPalette';
@import '../sassStyles/arrows';

.container-home {
  height: 98vh;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
}

.three-renderer {
  background: $primaryBlue;
  width: 100%;
}

@media (max-width: 1200px) {
  .container-home {
    height: 97vh;
  }
}