@import "../sassStyles/colorPalette";
@import "../sassStyles/gradientAnimation";
@import "../sassStyles/arrows";

.container-contact {
    height: 100%;
    background: $whiteColor;
}

.contact-envelope {
  font-size: 7em;
  display: block;
  margin: auto;
  color: $primaryBlue;
  margin-bottom: .7em;
  transition: all 0.5s;
}

.contact-heading {
  width: 100%;
  height: 100%;
  position: relative;
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
  padding: 2em 0 2em 0;
  right: 0;
  
  .left-heading {
    font-size: 2rem;
    color: $primaryBlue;
    text-transform: uppercase;
    letter-spacing: 15px;
    position: absolute;
    left: -40px;
    top: 300px;
    margin: 0;
    transform: rotate(270deg);
    transform-origin: 0 0;
    font-weight: bolder;
    transition: .5s;
      
  }
}

.contact-content {
    height: 100%;
    padding: 2rem;
    margin: 0 auto 1em;
    width: 600px;
}

button {
    overflow: visible;
    color: $primaryBlue;
    //margin: auto;
  }
  
  button, input, select, textarea {
    color: $primaryBlue;
    font: inherit;
    margin: 0;
  }
  
  input {
    line-height: normal;
  }
  
  textarea {
    overflow: auto;
  }
  
  input[type='text'], [type='email'], select, textarea {
    background: none;
    border: none;
    border-bottom: solid 2px $primaryBlue;
    color: $whiteColor;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 0em 0 1.875em 0;
    padding: 0 0 0.875em 0;
    text-transform: uppercase;
    width: 100%;
    box-sizing: border-box;
    transition: all 0.3s;
  }
  
  input[type='text']:focus, [type='email']:focus, textarea:focus {
      outline: none;
      padding: 0 0 0.875em 0;
  }
  
.contact-name {
  float: left;
  width: 45%;
 }

.contact-email {
  float: right;
  width: 45%;
}
  
  .contact-subject {
    width: 100%;
  }
  
  .contact-message {
    float: none;
  }

textarea {
    line-height: 150%;
    min-height: 200px;
    resize: none;
    width: 100%;
}

::placeholder {
  color: white;
  font-weight: bold;
}
  
.submit-button {
  width: 100%;
  margin: auto;
  padding: 1em;
  background: $primaryBlue;
  border: solid 2px $primaryBlue;
  color: $whiteColor;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 0.1em;
  transition: all 0.5s;
}
  
.submit-button:hover {
  background: $whiteColor;
  color: $primaryBlue;
  width: 100%;
}
  
@media (max-width: 1100px) {
  .contact-heading {
      border-left: 0px;
      border-right: 0px;
      .left-heading {
          font-size: 2rem;
          color: $primaryBlue;
          left: 30px;
          top: 50px;
          transform: rotate(0deg);
      }
  }
  .contact-content {
    margin-top: 8em;
    margin-bottom: 5em;
  }
  .contact-envelope {
    margin-top: .4em;
    font-size: 8em;
  }
}

@media (max-width: 600px) {
  .contact-heading {
    background: linear-gradient(270deg, $orangerColor, $raspberryColor);
    background-size: 200% 400%;
    -webkit-animation: gradientAnimationX 15s ease infinite;
    -moz-animation: gradientAnimationX 15s ease infinite;
    animation: gradientAnimationX 15s ease infinite;
    margin: 3em auto 1.5em auto;
      .left-heading {
          font-size: 1.5rem;
          color: $primaryBlue;
          letter-spacing: .3em;
      }
  }
  .contact-content {
    width: 100%;
    background: transparent;
    margin-top: -2em;
    margin-bottom: -2em;
  }
  .contact-envelope {
    //margin-top: -.5em;
    font-size: 7em;
    color: $primaryBlue;
    margin-top: 1em;
  }
  .contact-name {
    float: none;
    width: 100%;
  }
  .contact-email {
    float: none;
    width: 100%;
  }
  .bottom-mobile {
    background: $whiteColor;
    width: 100%;
    height: 2.5em;
  }
}