@import "../sassStyles/colorPalette";
@import "../sassStyles/gradientAnimation";

.navbar {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  margin-top: -60px;
  top: 0;
  z-index: 1;
  transition-timing-function: ease-in;
  transition: 1s;
}
.navbar.active {
    //@debug: $primaryBlue;
    background: linear-gradient(270deg, $orangerColor, $raspberryColor);
    background-size: 200% 400%;
    -webkit-animation: gradientAnimationX 7s ease infinite;
    -moz-animation: gradientAnimationX 7s ease infinite;
    animation: gradientAnimationX 7s ease infinite;
    transition-timing-function: ease-in;
    transition: 1s;
  }
  
.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 80px;
}
  
.container {
  width: 100%;
  max-width: 95vw;
  margin-right: auto;
  margin-left: auto;
}
  
.navbar-logo {
  color: $whiteColor;
  justify-self: start;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  letter-spacing: .05em;
  display: flex;
  align-items: center;
}
  
  .nav-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    text-align: center;
    justify-content: end;
  }
  
  .nav-item {
    height: 60px;
    transition: all 1s ease; 
    color: $raspberryColor;
  }
  
  .nav-item:hover {
    letter-spacing: 2px;
  }
  
  .nav-links {
    color: $whiteColor;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;

    &:hover{
      color:$raspberryColor;
      -webkit-transition: all 1s ease;
      -moz-transition: all 1s ease;
      -o-transition: all 1s ease;
      transition: all 1s ease; 
    }
  }
  
  .fa-bars {
    color: $whiteColor;
  }
  
  .menu-icon {
    display: none;
  }
  
  @media screen and (max-width: 960px) {
    .NavbarItems {
      position: relative;
    }
  
    .nav-menu {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 42vh;
      position: absolute;
      top: 60px;
      left: -100%;
      opacity: 1;
      transition: all 0.5s ease;
      
    }
  
    .nav-menu.active {
      background: #141827d2;
      filter:blur(.5px);
      left: 0;
      opacity: 1;
      transition: all 0.6s ease;
      z-index: 1;
    }
  
    .nav-links {
      text-align: center;
      padding: 1rem;
      width: 100%;
      display: table;
      color: $whiteColor;
      font-weight: 600;
      &:hover {
          color: $raspberryColor;
      }
    }
  
    .nav-item:hover {
      border: none;
    }
  
    .nav-item {
      width: 100%;
      margin-bottom: 1em;
    }
  
    .navbar-logo {
      color: $whiteColor;
      justify-self: start;
      top: -10px;
    }
  
    .menu-icon {
      display: block;
      position: absolute;
      top: -5px;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
      color: $whiteColor;
    }
  
    .fa-times {
      color: $whiteColor;
      font-size: 2rem;
    }
  }
  