.scrollButton{
    height: 50px;
    width: 50px;
    background: tomato;
    position:static;
    z-index: 999;
    margin-top: -20vh;
    margin-left: 50%;
    border-radius: 50px;
    font-size: 90px;
  }