@import "../sassStyles/colorPalette";
@import "../sassStyles/gradientAnimation";
@import "../sassStyles/arrows";

.container-footer {
    min-height: 400px;
    width: 100%;
    background: $primaryBlue;
}

.smaller-container {
    //background: tomato;
    width: 70%;
    height: 100%;
    padding: 2em;
    margin: auto;
}

.line {
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, $orangerColor, $raspberryColor);
    background-size: 200% 400%;
    -webkit-animation: gradientAnimationX 7s ease infinite;
    -moz-animation: gradientAnimationX 7s ease infinite;
    animation: gradientAnimationX 7s ease infinite;
    margin-top: 1.5em;
}

.footer-item-container {
    margin: 0 auto;
    display: grid;
    grid-gap: 2rem;
    position: relative;
    margin: 2em;
}

.footer-item-container:nth-child(even) {
    border: 10px solid tomato;
}

.footer-item {
    height: auto;
    width: auto;
    
    .footer-item-icon {
        color: $raspberryColor;
        font-size: 120px;
        margin: auto;
    }
    .footer-item-description {
        color: $whiteColor;
        letter-spacing: .3em;
        font-size: 1.1em;
        //font-weight: bold;
        //padding: 1em;
        list-style-type: none;
    }
    .footer-link {
        text-decoration: none;
        color: $whiteColor;
        letter-spacing: .1em;
    }
}

.footer-item-icon:nth-child(even) {
    color: $orangerColor;
}

.left {
    float: left;
}

.right {
    float: right;
    
}

.footer-item-name {
    letter-spacing: .3em;
    font-size: 1.3em;
    color: white;

}

.end-line {
    width: 100%;
    height: 45px;
    background: linear-gradient(270deg, $orangerColor, $raspberryColor);
    background-size: 200% 400%;
    -webkit-animation: gradientAnimationX 7s ease infinite;
    -moz-animation: gradientAnimationX 7s ease infinite;
    animation: gradientAnimationX 7s ease infinite;
    text-align: center;
    padding: 10px 0;
}

.footer-heading {
    margin: auto;
    color: $whiteColor;
    font-size: 2em;
}

p {
    color: $primaryBlue;
    margin: auto;
    text-align: center;
    font-size: 1.2em;
}

@media (min-width: 1200px) {
    .footer-item-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 1200px) {
    .smaller-container {
        width: 80%;
    }
}

@media (max-width: 600px) {
    .smaller-container {
        width: 95%;
    }
    .footer-item-container {
        grid-template-columns: repeat(1, 1fr);
    }
}